accelerate==0.27.2
attrdict==2.0.1
deepspeed==0.14.4
fire==0.6.0
multiprocess==0.70.16
numpy==1.26.4
pandas==2.2.2
pebble==5.0.7
python_dateutil==2.9.0.post0
regex==2023.12.25
sympy==1.12
timeout_decorator==0.5.0
torch==2.1.2
tqdm==4.66.2
transformers==4.38.2
